body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 200px;
    width: 100%;
    background-color: #111111;
    background-image: url(yellowmclaren.jpg);
}

nav{
    height: 50px;
    width: 100%;
    background-color: #2c3033;
    color:violet;

}

aside{
    height: 700px;
    width: 20%;
    background-color: #585c5c;
    float: left;
}

article{
    height: 700px;
    width: 80%;
    background-color: #7d8585;
    float: right;
}

section{
    height: 70%;
    width: 80%;
    background-color: #cccccc;
    margin: auto;
    margin-top: 8.2%;
    background-image: url();
    padding: 2%;

}




h1{
    resize: 120px;
    text-align: center;
}


.btn{
    width: 30%;
    height: 100%;
    background-color: #d9b61c;
    float: left;
    margin-left: 2%;
}